<% const registerDate = new Date(user.registeredAt).toLocaleDateString('ru-RU') %>

<div class='profile'>
    <img class='profile__img' src='/photos/momo.jpg' alt='<%= user.username %>&apos;s profile photo' draggable='false'>
    <h3 class='profile__name'><%= user.username %></h3>

    <ul class='profile__list list-reset'>
        <li class='profile__item profile__url-limits' title='urls count limit'>
            <span class='profile__item--badge'>limit</span>
            <span class='profile__item--value'><%= user.maxUrls %></span>
        </li>

        <li class='profile__item profile__role'>
            <span class='profile__item--badge'>role</span>
            <span class='profile__item--value'><%= user.role %></span>
        </li>

        <li class='profile__item profile__date' title='register date'>
            <span class='profile__item--badge'>date</span>
            <span class='profile__item--value'><%= registerDate %></span>
        </li>
    </ul>

    <button class='profile-menu__delete profile-menu__btn btn-reset text-light bg-danger'>delete account</button>
    <a class='profile-menu__logout profile-menu__btn text-light' href='/logout/'>logout</a>
</div>

