<%- include('templates/header'); -%>

<main class='main'>
    <section class='url'>
        <div class='container'>
            <div class='row'>
                <div class='col'>
                    <div class='card'>
                        <!-- Card Header -->
                        <div class='card-header'>
                            <div class='row'>
                                <span class='event-message col'></span>
                                <span class='col-3 text-muted text-right'>Users count: <%= usersCount %></span>
                            </div>
                        </div>

                        <!-- Card Body -->
                        <div class='card-body'>
                            <div class='row'>
                                <div class='col'>
                                    <form class='form-shorter input-group'>
                                        <input type='url' class='form-shorter__input form-control' placeholder='https://' value='https://google.com' <%= isLogged ? '' : 'disabled' %>>
                                        <div class='input-group-append'>
                                            <button class='form-shorter__submit btn btn-dark' disabled>Short</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Card Footer -->
                        <div class='url-list card-footer'></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script defer src='/js/client.js'></script>

<% if (locals.isLogged) { %>
    <%- include('templates/aside'); -%>
    <script defer src='/js/profile.js'></script>
<% } %>

<%- include('templates/footer'); -%>